input{
  width:30%;
 padding:20px;

}

form{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  gap:3px;
}

button{
  padding:20px;
  border-radius: 10px;
}

.title{
  display:flex;
  justify-content: center;
}

.reveal-activate{
  border: 1px solid purple;
} 

.reveal-deactivate{
  background-color: purple;
  color:#fff;
  border:1px solid #333;
}

